h1, h2, h3, p, td {
    font-family: monospace;
}

body {
    background-color: #121212; 
    /* Alternate Background Color */
    /* background-color: #111C18;  */
}

/* Space between the borders of the table. */
table {
    border-spacing: 5px;
}

/* Add borders, radius and transition for the table data - NAV and MAIN content. */
td {
    border: 2px solid #353D31;
    border-radius: 5px;
    transition: all .3s ease;
}

/* td:hover to change to other color. */
td:hover {
    border: 2px solid #71CEAD;
}

td, th {
    color: #03DAC6;
}

/* Wrap the whole thing in a container of flex to center it. */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-nav {
    height: 1000px;
    width: 100px;
    text-align: center;
}

.table-main {
    height: 1000px;
    width: 600px;
    text-align: center;
}